<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tata">
          <security mode="Message" >
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="lala">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint
        address="net.tcp://localhost:2526/Service/"
        endpointConfiguration=""
        binding="netTcpBinding"
        bindingConfiguration="tata"
        contract="ConsoleApplication3.IMERPService"
        behaviorConfiguration="lala"
        name="Merpli"
         />
    </client>

  </system.serviceModel>
</configuration>