<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingEndpointConfig">
          <security mode="Message" >
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="MerpEndpointConfig">
     
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint
                address= "net.tcp://10.12.10.150:2526/Service/UserService"
                name="UserService"
                bindingConfiguration="NetTcpBindingEndpointConfig"
                binding="netTcpBinding"
                contract="BL.Service.Stammdaten.User.IUserService">
        <identity>
          <dns value="SimiPro2"/>
        </identity>
      </endpoint>
      <endpoint
             address="net.tcp://10.12.10.150:2526/Service/ProductService"
             name="ProductService"
             bindingConfiguration="NetTcpBindingEndpointConfig"
             binding="netTcpBinding"
             contract="Views.Stammdaten.Product.IProductService">
      
        <identity>
          <dns value="SimiPro2"/>
        </identity>
      </endpoint>

      <endpoint
       address="net.tcp://10.12.10.150:2526/Service/SupplierService"
       name="SupplierService"
       bindingConfiguration="NetTcpBindingEndpointConfig"
       binding="netTcpBinding"
       contract="Views.Stammdaten.Product.IProductService">

        <identity>
          <dns value="SimiPro2"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>