<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
     <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingEndpointConfig">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors >
        <behavior name="MerpBehavior">
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:7777/httpGet" />
                           <serviceCredentials>
            <serviceCertificate findValue="SimiPro2"
                                x509FindType="FindBySubjectName"
                                storeLocation="CurrentUser"
                                storeName="TrustedPeople"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="BL.PasswordValidator, BL"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MerpBehavior"
                  name="BL.Service.MerpService">
        <endpoint address="net.tcp://localhost:2526/Service/" 
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBindingEndpointConfig"
                  name="MerpService" 
                  contract="BL.Service.IMERPService"
                  />
      </service>
      <service name="BL.Service.Stammdaten.User.UserService">
        <endpoint address="net.tcp://localhost:2526/Service/Stammdaten/User"
                  binding="netTcpBinding" 
                  name="UserService" 
                  contract="BL.Service.Stammdaten.User.IUserService" />
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="db_MERPEntities1"
         connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BISONWS1281\MSSQLDEV;Initial Catalog=db_MERP;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
